version: 4.1.{build}

image: Visual Studio 2019

branches:
  only:
    - master

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

configuration: Debug

before_build:
  - nuget restore Source\SVGImage.sln

build:
  project: Source\SVGImage.sln

test: off

artifacts:
  - path: '**\DotNetProjects.SVGImage*.nupkg'

#uncomment to publish to NuGet
deploy:
  provider: NuGet
  api_key:
    secure: 88aMSx9ONm6ZEyZHiWughpXbF3QGPuYy7yjQxQSt69pDc89aKMBYm8KPOaCIUX9s
  artifact: /.*\.nupkg/
  
  
  
