/* Test 17 - id selector */
#right-eye {
  fill: rgb(109%,302%,100%);
}
/* Test 17 - class selector */
.head {
  stroke: #000;
  stroke-width: 1pc;
}
/* Test 17 - type selector with attribute selector */
circle[cx="-120"][cy="-22.5%"][r="2%"] {
  fill: green;
}
